/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
 

  .parent::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 1px;
    /* control the border thickness */
    
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  .parent:hover::before {
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)); /* Change the gradient on hover */
}
}

/* linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) */